<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><html>

        <title>home page</title>
<link rel="stylesheet" href="../static/css/home.css">
<link rel="stylesheet" href="../static/css/theme-professional.css">
    <style>
        /* Make the hero text readable on any background */
        .tit h1{ color:#ffffff; text-shadow: 0 10px 35px rgba(0,0,0,.55); margin: 0; }
    </style>
        
    </head>
   
    <body >

        <div class="main">        
            <div class="sh">
                <img src="C:\Users\Admin\Downloads\cap2.png">
               </div>
               
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/aboutus">About us</a></li>
            <li><a href="/admin_login">Admin</a></li>


           </ul>
           
       
   </div></br></br></br></br>
         
         
         
         <div class="tit"> <h1>
            
            FIND THE BEST CARRIER!
       
       </h1></div>
         
        

        <script src="../static/js/home.js"></script>

    
       
    </body>
</html>
                
